
body {
	font-family: Helvetica;
}

/* Imagens */

#logo {
	width: 200px;
	display: block;
	margin: auto;
}

#imagem-centro {
	display: block;
	width: 500px;
	margin: auto;
}

/* linha de separação */

#linha {
	border: 1px solid black;
	margin: 0 13px 0 13px;
}

/* Menu */

ul {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
    margin-top: 10px;
	list-style-type: none;
	font-size: 25px;
	color: aqua;
}

.inicio:hover {
	padding: 5px;
	background-color: rgb(199, 245, 245);
	border-radius: 20px;
	font-size: 26px;
}

.destaque:hover {
	padding: 5px;
	background-color: rgb(199, 245, 245);
	border-radius: 20px;
	font-size: 26px;
}

.catalogo:hover {
	padding: 5px;
	background-color: rgb(199, 245, 245);
	border-radius: 20px;
	font-size: 26px;
}

.compras:hover {
	padding: 5px;
	background-color: rgb(199, 245, 245);
	border-radius: 20px;
	font-size: 26px;
}
/* Texto Principal */

.texto-principal {
	color: aqua;
	text-align: center;
	font-size: 50px;
}

/* Rodapé */

footer {
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}
#contato {
	color: red;
}
#info {
	color: aqua;
}