body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tabuleiro {
    display: flex;
    height: 500px;
    width: 500px;
    border: solid, 3px, black;
}

.casa_black{
    display: flex;
    flex-wrap: nowrap;
    width: 62px;
    height: 62px;
}

.casa_lightgray{
    display: flex;
    flex-wrap: nowrap;
    width: 62px;
    height: 62px;
}

.casa_black:nth-child(even){
    background-color: black;
}

.casa_lightgray:nth-child(odd){
    background-color: grey;
}